<div class='footer'>
  <%= link_to 'TWOPEACE', root_path, :id => 'title_footer' %>
  <%= link_to 'CONTACT US', new_contact_path, :class => 'directory_foot' %>
  <%= link_to 'OUR WORK', our_work_path, :class => 'directory_foot' %>
  <%= link_to 'OUR TEAM', our_team_path, :class => 'directory_foot' %>
  <%= link_to 'HOME', root_path, :class => 'directory_foot' %>
  <p id='copyright'>Copyright&copy; belongs to twopeace | All rights reserved.</p>
</div>