<div id='navbar'>
  <%= link_to 'Twopeace', root_path, :id => 'title' %>
  <%= link_to 'Contact Us', contact_us_path, :class => 'directory' %>
  <%= link_to 'Our Work', our_work_path, :class => 'directory' %>
  <%= link_to 'Our Team', our_team_path, :class => 'directory' %>
  <%= link_to 'Home', root_path, :class => 'directory' %>
</div>
