<div id='navbar'>
  <%= link_to "< twopeace />", root_path, :id => 'title' %>
  <%= link_to 'CONTACT US', contact_us_path, :class => 'directory' %>
  <%= link_to 'OUR WORK', our_work_path, :class => 'directory' %>
  <%= link_to 'OUR TEAM', our_team_path, :class => 'directory' %>
  <%= link_to 'HOME', root_path, :class => 'directory' %>
</div>
