<div id='navbar'>
  <%= link_to root_url do %>
    <%= image_tag "twopeacelogo.jpg", :id => 'twopeacelogo' %>
  <% end %>
  <%= link_to 'CONTACT US', new_contact_path, :class => 'directory' %>
  <%= link_to 'OUR WORK', our_work_path, :class => 'directory' %>
  <%= link_to 'OUR TEAM', our_team_path, :class => 'directory' %>
  <%= link_to 'HOME', root_path, :class => 'directory' %>
</div>
